body {
    box-sizing: border-box;
    font-family: sans-serif,'Times New Roman';
    margin: 0;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
}

.logo {
    font-size: 34px;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 30px;
    padding-top: 5px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.container-1 {
    background-color: #1F2937;
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    align-items: center;
}

.card > img {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
}

.card > p {
    color: #E5E7EB;
}

.card > button {
    background-color: #3882F6;
    color: white;
    border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}